
.title{
    position: relative;
    left: 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30px;
}

.ajouter{
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    background-color: #2869ff;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
}
.trier{
    font-family: "Poppins", sans-serif;
    background-color: #2869ff;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
}
label{
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 8px;
    font-weight: bold;
}
select{
    appearance: none;
    background-repeat: no-repeat;
    padding: 8px 24px 8px 8px;
    background-position: right 4px center;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    font-size: 12px;
    background-color: transparent;
    margin-bottom: 16px;
    width: 80px;
}
option{
    font-family: "Poppins", sans-serif;
}
.table{
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 30px;
    margin-top: 20px;
    width: 1000px;
}
.tournee{
    width: 1000px;
}
thead{
    box-shadow: 0 5px 10px  #e1e5ee;
}
th{
    padding: 0.5rem 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
td{
    padding: 0.5rem 0.7rem;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.delete{
    color: red;
}
.edit{
    color: #2869ff;
}
a {
    text-decoration: none;
    color: black;
    
}

tr:nth-child(even) {
    background-color: #f4f6fb;
}
.status{
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    text-align: center;
}
.red{
    background-color: #ffcdd2;
    color: #c62828;
}
.yellow{
    background-color: #fff0c2;
    color: #a68b00;
}
.green{
    background-color: #c8e6c9;
    color: #388e3c;
}

.childTableRow {
    display: none;
}
.childTableRow .details {
    margin-left: 150px;
    width: 800px;
}

#contactForm { 
  
    border: 6px solid #2869ff;; 
    padding: 1em;
    width: 800px;
    height: 600px;
    text-align: center;
    background: #fff;
    position: fixed;
    top:50%;
    left:55%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%)
    
  }
.formcontainer{
    display: grid;
    grid-template-columns: [first] 50% [second] 50%  [end];
 	grid-template-rows: [row1-start] 20% [row1-end] 20% [third-line] 20% [fourth-line] auto [last-line];
    justify-items: center;
}
label{
    text-align: left;
    font-size: 10px;
}
input, select{ 
    font-family: inherit; 
    text-transform: inherit; 
    font-size: inherit;
    display: block; 
    width: 280px; 
    height: 35px;
}
option:first{
    color:#999;
}
  
.formBtn { 
    width: 600px;
    text-align: center;
    display: inline-block;
    background: #2869ff;;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    height: 30px;
    position: relative;
    left: 220px;
    top: 30px;
  }

.retourTable{
    display: none;
}